<table class="user-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.address }}</td>
      <td>
        <button class="delete-btn" (click)="deleteUser(user.id === undefined ? 0 : user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="generate-pdf-btn" (click)="generatePdf()">Generate PDF</button>
<button class="btn btn-danger" (click)="closepdf()" *ngIf="pdfUrl !=undefined && pdfUrl != null">Close</button>
